:root {
  /* # Colors */
  /* ## Primary */

  --Soft_Cyan: hsl(174, 77%, 80%); /* (Full Slider Bar) */
  --Strong_Cyan: hsl(174, 86%, 45%);/* (Slider Backround) */
  --Light_Grayish_Red: hsl(14, 92%, 95%); /* (Discount Background) */
  --Light_Red: hsl(15, 100%, 70%); /* (Discount Text) */
  --Pale_Blue: hsl(226, 100%, 87%); /* (CTA Text) */

  /* ## Neutral */

  --White: hsl(0, 0%, 100%); /* (Pricing Component Background) */
  --Very_Pale_Blue: hsl(230, 100%, 99%); /* (Main Background) */
  --Light_Grayish_Blue: hsl(224, 65%, 95%); /* (Empty Slider Bar) */
  --Light_Grayish_Blue: hsl(223, 50%, 87%); /* (Toggle Background) */
  --Grayish_Blue: hsl(225, 20%, 60%); /* (Text) */
  --Dark_Desaturated_Blue: hsl(227, 35%, 25%); /* (Text & CTA Background) */

  /* # Typography */
  /* ## Font */
  --Manrope: "Manrope", sans-serif;
}
/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  font-family: var(--Manrope);
  background-color: var(--Very_Pale_Blue);
}
button {
  border: 0;
  outline: none;
  cursor: pointer;
}
p {
  font-size: 15px;
  color: var(--Grayish_Blue);
}
/* header styling */
.header {
  padding: 4rem 2rem 2rem;
  text-align: center;
  background: url(./images/pattern-circles.svg) no-repeat, url(./images/bg-pattern.svg);
  background-position: center top;
  min-height: 300px;
  border-radius: 0 0 0 8rem;
}

h1 {
  font-size: 1.25rem;
}

.circles {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.pricing_container {
  background-color: white;
  border-radius: .75rem;
  padding: 1rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 500px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--Pale_Blue);
}

.slider_container {
  position: relative;
  width: 90%;
  border-radius: .5rem;
  height: .65rem;
  background-color: var(--Light_Grayish_Blue);
}

.icon.slider {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background-color: var(--Strong_Cyan);
  padding: 1rem .75rem;
  box-shadow: 0px 8px 24px var(--Strong_Cyan);
}

.price_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  color: var(--Dark_Desaturated_Blue);
  font-size: 2rem;
  font-weight: 700;
}

.billing_container {
  display: flex;
  gap: 1rem;
}

.discount {
  background-color: var(--Light_Grayish_Red);
  color: var(--Light_Red);
  border-radius: 100vmax;
  padding: 0 .5rem;
}

.border {
  width: 110%;
  height: .1rem;
  background-color: var(--Light_Grayish_Blue);
  padding: 0;
}

.benefits {
  list-style: none;
}

.benefits li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn.trial {
  padding: .75rem 2rem;
  background-color: var(--Dark_Desaturated_Blue);
  color: var(--Light_Grayish_Blue);
  border-radius: 100vmax;
  font-size: 1.125rem;
}